
  <ul id="slide-out" class="sidenav sidenav-fixed">

  	<li><a class="subheader">CONFIGURACIÓN Y SEGURIDAD</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Roles</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Usuarios</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Seguridad web (secApp)</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Sesiones abiertas</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Opciones distribuidor</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Autorizacion aplicaciones</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Lista tokens activos</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Crear token de ingreso</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Cambiar clave de ingreso</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#!"  (click)="user.logout()"><i class="material-icons">security</i>Cerrar Sesión</a></li>
  </ul>
        