<section class="login-component">
  <app-logo></app-logo>
  <div class="content">
    <header class="content--header">
      <h1>Login</h1>
    </header>
    <form (ngSubmit)="login()" class="content--form">
      <input placeholder="Name" name="name" [(ngModel)]="credentials.name" class="content--form--input">
      <input type="email" placeholder="E-mail" name="email" [(ngModel)]="credentials.email" class="content--form--input">
      <div class="button-wrap">
        <button class="button-wrap-button">Enter</button>
      </div>
    </form>
  </div>
</section>
