<section class="game-component">
  <app-logo></app-logo>
  <div class="content">
    <header>
      <h1>Let's Play!</h1>
    </header>

    <div *ngIf="playerObservable | async as player">
      <h2>Hi {{player._name}}</h2>
      <div *ngIf="gameStateObservable | async as state">We are: {{state}}</div>
      <code>
       {{player | json}}
      </code>
      <div class="player-cards" *ngIf="player.cards as cards">
        <img *ngFor="let card of cards" [src]="card" alt="">
      </div>
      <div class="actions">
        <button type="button" (click)="bet()">Bet!</button>
        <button type="button" (click)="hit()">Hit</button>
        <button type="button" (click)="stand()">Stand</button>
      </div>
    </div>
  </div>
</section>
